<div id="galleryModal" class="modal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <img id="modalImage">
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("galleryModal");

  // Get the image and insert it inside the modal - use its "alt" text as a caption

  function openModal(imageSrc) {
    modal.style.display = "block";
    modalImg.src = "{{ .Site.BaseURL }}" + imageSrc;

  }

  // When the user clicks on <span> (x), close the modal
  document.getElementsByClassName("close")[0].onclick = function () {
    modal.style.display = "none";
  };
</script>
